#title {
    text-align: center;
    margin: 0;
    color: white;
}

.header-box {
    width: 100%;
    background-color: rgb(103,58,183);
    padding: 15px 0px;
}

body {
    background-color: white;
}

#articles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-boxes-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filter-boxes {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#filters-title {
    margin: 5px 0px;;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.filters-toggle {
    margin: 5px;
}

.article-container {
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 0.1em inset black;
}

.article-row {
    display: flex;
    flex-direction: row;
}

.article-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-news-org {
    margin: 0;
}

.article-bias {
    margin: 0;
}


.demo-card-wide.mdl-card {
    width: 512px;
    margin: 20px;
  }

  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
  }

  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }