#title {
    text-align: center;
    margin: 0;
    color: white;
}

.header-box {
    width: 100%;
    background-color: rgb(103,58,183);
    padding: 15px 0px;
}

body {
    background-color: white;
}

#articles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-boxes-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.filter-bar {
    flex-direction: column;
    display: flex;
}

p {
    margin: 1px;
}

a {
    text-decoration: none;
}

.filter-boxes {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#filters-title {
    margin: 2px 0px;;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    float: left;
}

.filter-cont {
    margin: auto 15px;
}

.filters-toggle {
    margin: 5px;
}

.article-container {
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 0.1em inset black;
}

.article-row {
    display: flex;
    flex-direction: row;
}

.article-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-news-org {
    margin: 0;
}

.article-bias {
    margin: 0;
}

.demo-card-wide.mdl-card {
    width: 512px;
    margin: 20px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    cursor: pointer;
}

.demo-card-wide.mdl-card:hover {
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.mdl-card__title {
    color: #fff;
    height: 176px;
}

.mdl-card__menu {
    color: #fff;
}


.search-bar {
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
}
  input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
   }
  
  .search-icon{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
  }

  .rangeslider{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }

  #instruction-text {
      text-align: center;
  }

  .myslider {
      width: 100%;
    }

  .myslider:hover {
        opacity: 1;
   }

   .mdl-slider__container {
       width: 100%;
   }

   .rangelabel {
       margin: 0px;
   }